/* Estilos da Logo */

.Busca-01{
	margin-top: 25px;
	margin-bottom: 25px;
}

.Busca-01 img{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Estilos da Caixa de Pesquisa */

.btn-todas{
	width: 170px;
}

/* Estilo para a section de resultados */

.Ordenar-por{
	margin-left: 15px;
	font-size: 12pt;
	font-weight: 300;
	text-align: left;
	color: #666666;
}

.ordenar-box ul li{
	padding-right: 5px;
}

.ordenar-box ul li a.a-principal{
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

/* Estilo Conteúdo */

.post{
	border-bottom: 1px solid #d8d8d8;
	height: 200px;
	margin-left: 160px;
	float: right;
}

.post .noticia .post-title a{
	width: 330px;
	height: 50px;
	font-family: Merriweather;
	font-size: 20pt;
	font-weight: bold;
	text-align: left;
	color: #666666;
}

.post .noticia p.post-conteudo{
	width: 330px;
	height: 38px;
	font-family: Roboto;
	font-size: 11pt;
	font-weight: 300;
	text-align: left;
	color: #666666;
}

.post .noticia p.post-data{
	width: 250px;
	height: 13px;
	font-family: Roboto;
	font-size: 10pt;
	text-align: left;
	color: #666666;
	margin-top: 30px;
}

.noticia{
	width: 450px;
	float: right;
	padding-left: 10px;
}

.post .thumb img{
	width: 235px;
  	height: 164px;
  	margin-top: 20px;
}

.-resultados-pa {
	width: 100px;
	height: 57px;
	margin-left: 15px;
	margin-top: 20px;
	font-size: 14px;
	font-weight: 300;
	text-align: left;
	border-top: 5px solid #000;
	color: #666666;
}

.-resultados{
	margin-top: -80px;	
	float: left;
}